.elec{
    & .brands{
        & .image{
            & img{
                min-width: 100px;
            }
        }
    }
    & .brands .back, & .brands .forward{
        color: var(--primary);
    }
    & #splide02-track{
        width: 83%;
        margin: auto;
        border-radius: 1rem;
    }
    & .splide__slide, .splide__track{
        min-width: 16rem;
        border-radius: 16px;
    }
    & .splide{
        min-width: 16rem;
    }
}