.daily{
    & .essentials .item{
        & .photo{
            height: 10rem;
            background-color: var(--background1);
            transition-duration: 0.3s;
            &:hover{
                outline: 1px solid var(--primary);
                box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
                transition-duration: 0.3s;
                transform: scale(1.1);
            }
            & img{
                min-width: 100px;
                max-width: 140px;
            }
        }
        & .text{
            color: var(--text);
            & a{
                color: inherit;
                white-space: nowrap;
            }
            & b{
                color: var(--heading);
            }
        }
    }
}