nav {
  & .welcome {
    background-color: var(--background1);
    color: var(--text);
    font-size: 0.9rem;
    padding: 0 10%;
    & a {
      color: var(--text);
    }
    & .line {
      border-right: 1px solid var(--line);
      border-left: 1px solid var(--line);
    }
  }
  & > div:not(.welcome) {
    padding: 0 10%;
  }
  & .nav {
    color: var(--text);
    & a {
      color: var(--heading);
      width: max-content;
    }
    & .menu button {
      background-color: var(--background1);
    }
    & .logo {
      color: var(--primary) !important;
    }
  }
  & .search,
  & .search input {
    background-color: var(--background1);
    min-width: 35%;
    & input {
      color: var(--text);
      outline: none;
    }
  }
  & .navbar {
    & .collapse {
      border-top: 1px solid var(--border);
      border-bottom: 1px solid var(--border);
      flex-wrap: wrap;
      & .nav-link {
        background-color: var(--background3);
        color: var(--heading);
        &:hover {
          background-color: var(--primary);
          color: white;
        }
      }
      & .nav-item {
        transition-duration: 0.3s;
        &:hover {
          margin: 0 1rem;
        }
      }
    }
  }
  & .nav button {
    transition-duration: 0.3s;
    &:hover {
      background-color: var(--primary);
    }
    & svg:hover {
      fill: white;
    }
  }
  & .dropdown-item:active {
    background-color: var(--primary);
  }
  & .sign .dot {
    right: 50px;
    font-size: 0.8rem;
    bottom: 5px;
  }
}
