@import "tailwindcss";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Hanken Grotesk";
  /* margin: 0; */
  /* padding: 0; */
}
:root {
  --primary: #008ecc;
  --secondary: #666666;
  --text: #666666;
  --heading: #222222;
  --light: #888888;
  --border: #ededed;
  --background1: #f5f5f5;
  --background2: #f6f6fc;
  --background3: #f3f9fb;
  --yellow: #e3bc01;
  --line: #d9d9d9;
}
.text-heading {
  color: var(--heading);
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--primary);
}
svg {
  width: 1em;
  height: 1em;
  font-size: 2cap;
}
.splide svg {
  fill: var(--primary) !important;
}
body {
  padding: 0 8%;
}
.splide__arrow {
  background: transparent !important;
}
