@import "tailwindcss";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Hanken Grotesk";
  /* margin: 0; */
  /* padding: 0; */
}
@theme {
  --color-primary: #008ecc;
  /* --primary: #008ecc; */
  --color-secondary: #666666;
  --color-text: #666666;
  --color-heading: #222222;
  --color-light: #888888;
  --color-border: #ededed;
  --color-background1: #f5f5f5;
  --color-background2: #f6f6fc;
  --color-background3: #f3f9fb;
  --color-yellow: #e3bc01;
  --color-line: #d9d9d9;
}
.text-heading {
  color: var(--color-heading);
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--color-primary);
}
svg {
  width: 1em;
  height: 1em;
  font-size: 2cap;
}
.splide .splide__arrows svg {
  fill: var(--primary) !important;
}
body {
  padding: 0 8%;
}
.splide__arrow {
  background: transparent !important;
}
