.footer::before {
  content: "";
  background-color: #0c9bda;
  width: 434.49px;
  height: 434.49px;
  border-radius: 50%;
  position: absolute;
  top: -103px;
  right: -103px;
  border: 15px solid var(--primary);
  outline: 2px solid #0c9bda;
}
