.sideNav{
    max-width: 300px;
    background: var(--primary);
    & .con{
    & hr{
        /* margin-left: -16px; */
    }
        & a{
            transition-duration: 0.3s;
            &:hover{
                padding-left: 15px;
            }
        }
    }
    & .dropdown-menu{
        background: #0c9bda;
    }
    & .dropdown-submenu {
        position: relative;
      }
      
      & .dropdown-submenu .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -1px;
      }
}