.daily{
    & .essentials .item{
        & .photo{
            height: 10rem;
            outline: 2px solid white;
            background-color: var(--background1);
            transition-duration: 0.2s;
            &:hover{
                outline: 2px solid var(--primary);
                /* box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35); */
                /* transform: scale(1.1); */
            }
            & img{
                min-width: 100px;
                max-width: 140px;
            }
        }
    }
}